.painting-board {
  margin-bottom: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .board-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    /* Exact width for 20 pixels of 20px each */
    height: 400px;
    /* Exact height for 20 pixels of 20px each */
    margin: 0 auto;
    overflow: hidden;
    /* Prevent any overflow */
  }

  .board-row {
    display: flex;
    height: 20px;
  }

  .pixel {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.1s;
    box-sizing: border-box;
    /* Include border in the element's dimensions */

    &:hover {
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    &.disabled {
      cursor: not-allowed;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .painting-board {
    .board-container {
      width: 80vw;
      height: 80vw;
    }

    .pixel {
      width: calc(80vw / 20);
      height: calc(80vw / 20);
      box-sizing: border-box;
    }
  }
}